body {
    padding-top: 56px;
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    width: 100%;
    overflow: hidden
}

.btn-xs {
    padding: 1;
    font-size: 1rem;
    line-height: .5;
    border-radius: .2rem;
    box-sizing: none;
}

.remove-button-css {
    outline: none;
    padding: 5px;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

.img-comp-container {
    height: 80vh;
    position: relative;
    /*should be the same height as the images*/
}

.carousel-control-next {
    opacity: 0.3!important;
}

.carousel-control-prev {
    opacity: 0.3!important;
}

.carousel-control-next:hover {
    opacity: 1 !important;
}

.carousel-control-prev:hover {
    opacity: 1 !important;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: 80vh;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
}

.images-compare-separator {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 1px;
    z-index: 1;
    left: 0;
    top: 0;
}

.img-comp-slider2 {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    border: 3px solid black;
}

.images-compare-left-arrow {
    border-right: 6px solid white;
    left: 5px;
}

.images-compare-left-arrow,
.images-compare-right-arrow {
    border: 6px inset transparent;
    height: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: left 150ms ease-in-out, right 150ms ease-in-out;
    -o-transition: left 150ms ease-in-out, right 150ms ease-in-out;
    transition: left 150ms ease-in-out, right 150ms ease-in-out;
    width: 0;
}

.img-comp-slider {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: border-color 150ms ease-in-out;
    -o-transition: border-color 150ms ease-in-out;
    transition: border-color 150ms ease-in-out;
    z-index: 1;
}

.inprogress {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, rgba(255, 193, 7, 1) 25%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(255, 193, 7, 1) 50%, rgba(255, 193, 7, 1) 75%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1));
    background-size: 40px 40px;
}

.rounded {
    border-radius: 20px !important;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fullopacity {
    opacity: 1 !important;
}

.comingsoon {
    color: black;
    font-weight: bold;
}

.inprogress:hover {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, rgba(255, 193, 7, 0.6) 25%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.6) 50%, rgba(255, 193, 7, 0.6) 50%, rgba(255, 193, 7, 0.6) 75%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.6));
    background-size: 40px 40px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.navbar-trans {
    background: transparent;
}

a.navbar-brand,
a.logo {
    color: black !important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}