body {
    padding-top: 56px;
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    width: 100%;
    overflow: hidden
}

.btn-xs {
    padding: 1;
    font-size: 1rem;
    line-height: .5;
    border-radius: .2rem;
    box-sizing: none;
}

.remove-button-css {
    outline: none;
    padding: 5px;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

.img-comp-container {
    height: 80vh;
    position: relative;
    /*should be the same height as the images*/
}

.carousel-control-next {
    opacity: 0.3!important;
}

.carousel-control-prev {
    opacity: 0.3!important;
}

.carousel-control-next:hover {
    opacity: 1 !important;
}

.carousel-control-prev:hover {
    opacity: 1 !important;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: 80vh;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
}

.images-compare-separator {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 1px;
    z-index: 1;
    left: 0;
    top: 0;
}

.outer {
    border:solid 1px #000;
}

.leftcol {
  /* position: fixed;
   top: 0%;
   left: 0%; */
   border:solid 1px green;
   overflow:hidden;
}

.rightcol {
   /* border:solid 1px red;
   position: relative;
   top: 0%;
   left: 50%;  */
   border:solid 1px red; 
   overflow-y: scroll;
   height: 200px;
}


.img-comp-slider2 {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    border: 3px solid black;
}

.images-compare-left-arrow {
    border-right: 6px solid white;
    left: 5px;
}

.images-compare-left-arrow,
.images-compare-right-arrow {
    border: 6px inset transparent;
    height: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: left 150ms ease-in-out, right 150ms ease-in-out;
    -o-transition: left 150ms ease-in-out, right 150ms ease-in-out;
    transition: left 150ms ease-in-out, right 150ms ease-in-out;
    width: 0;
}

.img-comp-slider {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: border-color 150ms ease-in-out;
    -o-transition: border-color 150ms ease-in-out;
    transition: border-color 150ms ease-in-out;
    z-index: 1;
}

.inprogress {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, rgba(255, 193, 7, 1) 25%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(255, 193, 7, 1) 50%, rgba(255, 193, 7, 1) 75%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1));
    background-size: 40px 40px;
}

.rounded {
    border-radius: 20px !important;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fullopacity {
    opacity: 1 !important;
}

.comingsoon {
    color: black;
    font-weight: bold;
}

.inprogress:hover {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, rgba(255, 193, 7, 0.6) 25%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.6) 50%, rgba(255, 193, 7, 0.6) 50%, rgba(255, 193, 7, 0.6) 75%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.6));
    background-size: 40px 40px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.navbar-trans {
    background: transparent;
}

a.navbar-brand,
a.logo {
    color: black !important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}