.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 200px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video:nth-child(1)
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

video:nth-child(2)
{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

