* {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    height: 1080;
    /*should be the same height as the images*/
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    vertical-align: middle;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 20px;
    height: 20px;
    background-color: white;
    opacity: 0.7;
    border-radius: 50%;
}