--- 
layout: base.njk 
title: Let's talk
icon: 💬 
permalink: /contact/ 
---

{% include "header.njk" %}

<div class="column-page">
    <div class="column-page-content">
  
    <h2>{{ title }}</h2>

  <p>The best way to get in touch with me is through email or Twitter.</p>

  <p><a href="mailto:alexanderameye@gmail.com">alexanderameye@gmail.com</a></p>
  <p><a href="https://twitter.com/alexanderameye" target="_blank">@alexanderameye</a></p>


  </div>
</div>