--- 
layout: base.njk 
title: All Notes 
icon: 📝 
---

{% include "header.njk" %}

<div class="column-page">
    <div class="column-page-content">
  
    <h2>{{ title }}</h2>

    {% set notes = collections.notes %}
    {% include "noteslist.njk" %}

  </div>
</div>