--- 
layout: base.njk 
title: Tag 
description: All notes with a certain tag. 
icon: 📝 
pagination: 
  data: collections 
  size: 1 
  alias: tag 
  filter: 
    - note 
    - tagList 
addAllPagesToCollections: true 
permalink: /tags/{{ tag }}/ 
---

{% include "header.njk" %}

<div class="column-page">
  <div class="column-page-content">
    <h2>All notes tagged with
    </h2>
    <ul class="note-tags">
      {%- set bg = colors[tag][0] -%}
      {%- set text = colors[tag][1] -%}
      <li>
        <a style="--tag-bg: {{bg}}; --tag-text: {{text}};" href="/tags/{{tag}}">{{tag}}</a>
      </li>
    </ul>
    {% set notes = collections[tag] %}
    {% include "noteslist.njk" %}
  </div>
</div>