<!-- NAV BAR -->
<header id="navbar-desktop" class="py-75 px-150">
  <!-- <a href="/" aria-label="Back to home page."> <span class="icon-menu px-75 py-75 rounded-25 c-gray bg-gray-hover"></span></a> -->

  <a href="/" aria-label="Back to home page.">
    <img src="/assets/img/icons/letter_a.svg" style="width: 32px; height: 32px;" alt="Website icon" class="navbar-icon"></a>

  <div class="navbar-nav">

  <!--  <a href="/projects" title="My projects" aria-label="My projects." class="{{ 'nav-title-active' if '/projects/' == page.url }} nav-title">Projects</a>-->

<a href="/" aria-label="Home page." class="{{ 'nav-title-active' if '/' == page.url }} nav-title">Home</a>

    <a href="/notes" aria-label="All notes." class="{{ 'nav-title-active' if '/notes/' == page.url }} nav-title">Notes</a>

    <a href="/tags" aria-label="All tags." class="{{ 'nav-title-active' if '/tags/' == page.url }} nav-title">Tags</a>

    <a href="/contact" aria-label="Contact me." class="{{ 'nav-title-active' if '/contact/' == page.url }} nav-title">Contact</a>

  </div>
</header>

<!-- https://cutcodedown.com/tutorial/mobileMenu-->
<!--https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793-->
<header id="navbar-mobile">
  <a href="/" aria-label="Back to home page.">
    <img src="/assets/img/icons/letter_a.svg" style="width: 32px; height: 32px;" alt="Website icon" class="navbar-icon"></a>

  <div style="vertical-align: middle; display: flex; align-items: center;">
 <!--   <a class="portfolio-button" href="/projects">My work<span class="icon-eye portfolio-icon"></span></a>-->

   <label for="toggle">
      <span class="icon-menu navbar-icon"></span></label>
  

  </div>

   


</header>

  <input type="checkbox" id="toggle"/>
    <div id="menu" style="" class="menu">
      <ul>
         <!--  <li>
          <a href="/projects">Projects</a>
        </li>-->
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/notes">Notes</a>
        </li>
        <li>
          <a href="/tags">Tags</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a class="resume-button" href="/downloads/documents/resume_alexander_ameye.pdf" download rel="nofollow">Resume<span class="icon-eye portfolio-icon"></span></a>
        </li>
      </ul>
    </div>