{% for note in notes | reverse %}
  <article class="note-entry">
    <div class="note-entry-content">
      <header class="note-entry-header">
        <h3>{{note.data.icon}}
          {{note.data.title}}</h3>
      </header>
      <section class="note-entry-description">
        <p>{{note.data.description}}</p>
      </section>
      <footer class="note-entry-footer">
        <time>{{ note.date | relativedate }}</time>
      </footer>
      <a class="note-entry-link" aria-label="{{note.data.title}}" href="{{note.url}}"></a>
    </div>
  </article>
{% endfor %}