{% for project in projects | reverse %}
  <article class="project-entry">
    {% projectimage "."+project.url+"header.png", "alt", "(min-width: 30em) 50vw, 100vw", project.url %}
    <div class="project-entry-content">
      <header class="project-entry-header">
        <h3>{{project.data.title}}</h3>
      </header>
      <section class="project-entry-description">
        <p>{{project.data.description}}</p>
      </section>
      <footer class="project-entry-footer">
        <time>{{ project.date | relativedate }}</time>
      </footer>
      <a class="project-entry-link" aria-label="{{project.data.title}}" href="{{project.url}}"></a>
    </div>
  </article>
{% endfor %}