:root {
    --body-bg-color: #fcfcfc;
    --note-bg-color: #fcfcfc;
    --projects-page-bg-color: #fcfcfc;
    --scrollbar-bg-color: rgba(0, 0, 0, 0.15);
    --navbar-bg-color: #fefefe;
    --footer-bg-color: #fcfcfc;
    --content-size: 800px;
    --link-hover-color: rgb(0, 0, 0);
    --marker-roundness: 10px;
    --green: 130, 255, 173;
    --orange: 255, 218, 98;
    --blue: 79, 155, 255;
    --red: 255, 98, 124;
    --yellow: 255, 234, 71;
    --gray: rgba(60, 60, 60, 0.7);
}

* {
    /* border: 2px dotted rgb(0, 0, 0);*/
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* TEXT COLOR */

.px-50 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px-75 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.px-150 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-50 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-75 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.rounded-25 {
    border-radius: .25rem;
}

.c-gray {
    color: rgb(40, 40, 40);
}

.bg-gray-hover:hover {
    background: rgb(244, 244, 244);
}

.no-underline {
    text-decoration: none;
}

.align-right {
    text-align: right;
    list-style-position: inside;
}


/* MAIN PAGE */

::selection {
    background-color: rgb(224, 224, 224);
}

.fade-in {
    animation: fade-in 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* HEADERS */

h1,
h2,
h3 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.note-entry-header h3 {
    padding-top: 0px;
}

.note-entry-content h3 {
    padding-bottom: 0px;
}

.project-entry-content h3 {
    padding-bottom: 0px;
}

.note-content h1 {
    text-align: center;
}

.note-content h2 {
    margin: 0;
}

.projects-page-content h2::before {
    content: "#";
    color: rgb(206, 206, 206);
    margin: 0px 10px 0px 0px;
}

.note-content h2::before {
    content: "#";
    color: rgb(206, 206, 206);
    margin: 0px 10px 0px 0px;
}

.note-content h3 {
    padding-top: 20px;
}

.column-page-content h2::before {
    content: "#";
    color: rgb(206, 206, 206);
    margin: 0px 10px 0px 0px;
}


/* PARAGRAPHS */

.note-content p {
    margin-bottom: 10px;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.6em;
}


/* LINKS */

.note-content p a {
    text-decoration: none;
    border-bottom: 2px dotted rgba(0, 0, 0, 1);
    opacity: 1;
    color: #000;
    /*NOTE: this makes border go more up, but doesn't work for multiline*/
}

.note-content p a:hover {
    background-color: var(--link-hover-color);
    color: white;
    transition: color 0.2s ease;
    font-weight: bold;
    opacity: 1;
}


/* MARKER */

mark.green {
    --marker-color: var(--green);
}

mark.blue {
    --marker-color: var(--blue);
}

mark.orange {
    --marker-color: var(--orange);
}

mark.red {
    --marker-color: var(--red);
}

mark.yellow {
    --marker-color: var(--yellow);
}

mark {
    padding: 0.1em 5px;
    margin-right: -5px;
    margin-left: -5px;
    border-radius: var(--marker-roundness);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: linear-gradient(104deg, rgba(0, 0, 0, 0) 0.9%, rgba(var(--marker-color), 1.25) 2.4%, rgba(var(--marker-color), 0.5) 5.8%, rgba(var(--marker-color), 0.25) 93%, rgba(var(--marker-color), 0.7) 96%, rgba(0, 0, 0, 0) 98%), linear-gradient(183deg, rgba(0, 0, 0, 0) 0%, rgba(var(--marker-color), 0.3) 7.9%, rgba(0, 0, 0, 0) 15%);
}


/* BLOCKQUOTE */

blockquote {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-left-width: .2rem;
    border-left-color: #d1d5db;
    font-style: italic;
    color: #494949;
    quotes: "\201C""\201D""\2018""\2019";
    padding-left: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote p:first-of-type::before {
    content: open-quote;
}

blockquote p:last-of-type::after {
    content: close-quote;
}


/* FORMULAS */

.katex-display .katex {
    padding: 5px 10px 5px 10px;
    border: 2px dashed rgb(202, 202, 202);
    border-radius: 5px;
}


/* PROJECTS */

.projects {
    margin: 0 auto;
    /* grid */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


/*@media (min-width: 1000px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}*/

.project-entry {
    position: relative;
    background: #fff;
    border-radius: 10px;
    transition: transform .2s;
    border: 1px solid rgb(240, 240, 240);
}

.project-entry-image {
    border-radius: 10px 10px 0px 0px;
    height: 100px;
    object-fit: cover;
    width: 100%;
}

.project-entry:active {
    transform: scale(.95);
}

.project-entry-content {
    padding: 15px;
}

.project-entry-description {
    margin: 8px 0;
    color: var(--gray);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.project-entry-footer {
    color: var(--gray);
    font-size: 12px;
}

.project-entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/* ENTRIES */

.note-entry-content {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    transition: transform .2s;
    border: 1px solid rgb(240, 240, 240);
}

.note-entry:active {
    transform: scale(.95);
}

.note-entry-description {
    margin: 8px 0;
    color: var(--gray);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.column-page-content p {
    margin-bottom: 10px;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.6em;
}

.column-page-content p a {
    text-decoration: none;
    border-bottom: 2px dotted rgba(0, 0, 0, 1);
    opacity: 1;
    color: #000;
    /*NOTE: this makes border go more up, but doesn't work for multiline*/
}

.column-page-content p a:hover {
    background-color: var(--link-hover-color);
    color: white;
    transition: color 0.2s ease;
    font-weight: bold;
    opacity: 1;
}

.note-entry-description p {
    font-family: 'Inter', serif;
}

.note-entry-footer {
    color: var(--gray);
    font-size: 12px;
}

.note-entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/* BACK TO TOP */

.back-to-top-mobile {
    position: absolute;
    top: 116vh;
    right: 0px;
    bottom: 0px;
}

.back-to-top-mobile a {
    padding: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 91vh;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: top 0.4s ease 0s;
    color: #000000;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* 'relative' until element reaches... */
    /* 90% viewport height from the top, when it becomes 'fixed' - until its container toggles it back to 'relative' */
}

.back-to-top-desktop {
    position: absolute;
    top: 120vh;
    bottom: 0px;
    right: -100px;
}

.back-to-top-desktop a {
    padding: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 91vh;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: top 0.4s ease 0s;
    color: rgba(60, 60, 60, 255);
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* 'relative' until element reaches... */
    /* 90% viewport height from the top, when it becomes 'fixed' - until its container toggles it back to 'relative' */
}

.back-to-top-desktop a:hover {
    top: 85vh;
    color: #aaaaaa;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 22px;
}

 ::-webkit-scrollbar-track {
    background: 0 0;
}

 ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg-color);
    border: 5px solid var(--body-bg-color);
    ;
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}