<!-- Made by Alexander Ameye using pure html/css and eleventy ♥ -->
<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <head>
        {% include "head.njk" %}
    </head>

    <!-- BODY -->
    <body class="fade-in">
            {{ content | safe }}
    </body>
</html>