--- 
layout: base.njk 
---

<style>
    :root {
        --marker-color: var(--{{marker}});
    }
</style>



 {% include "header.njk" %}



<!-- NOTE ITSELF -->
<div id="blog-post">
<main>

 <!-- NOTE TITLE -->
    <h1>{{ title }}</h1>



        {{ content | safe }}

        <!-- BACK TO TOP BUTTON -->
        <div class="back-to-top">
            <a href="#" class="rounded-25 py-75 px-50 c-gray bg-gray-hover" aria-label="Back to top of page."><span class="icon-arrow-up"></span></a>
         
            <!-- this could link to #top and then you have <a name="top"></a> somewhere so you can link to specific spots -->
        </div>
        </main>

</div>

<!-- FOOTER -->
<footer class="footer-text">
    {% include "footer.njk" %}
</footer>